*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.signin-box{
    height: 400px;
    width: 350px;
    background-color: antiquewhite;
    border-radius: 10px;
    position: absolute;
    right: 0;
    left: 0;
    top: 20%;
    margin: auto;
    padding: 30px 25px 30px 25px;
}